{% extends "layout.html" %}

{% block content %}

<div class="form-group">
    <label for="usr">Url:</label>
    <input type="text" class="form-control" id="url">
</div>
<button type="button" class="btn btn-primary" id="shorten">Make it short!</button>
<div>
    <label for="usr">Short url:</label>
    <a id="short_url"></a>
</div>
{% endblock %}
{% block scripts %}
<script>
    $("#shorten").on("click", function () {
        var url = $("#url").val();
        if (!validateURL(url)) {
            alert("Url is not valid!");
            return;
        }

        var data = new FormData();
        data.append('url', url);
        $.ajax({
            type: "POST",
            url: "/add_url",
            contentType: false,
            data: data,
            dataType: 'json',
            processData: false
        })
        .done(function (data) {
            var short_url = window.location + "url/" + data.url;
            $("#short_url").attr("href", short_url);
            $("#short_url").html(short_url);
        });
    });
    function validateURL(textval) {
        var urlregex = /^(https?|ftp):\/\/([a-zA-Z0-9.-]+(:[a-zA-Z0-9.&%$-]+)*@)*((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]?)(\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])){3}|([a-zA-Z0-9-]+\.)*[a-zA-Z0-9-]+\.(com|edu|gov|int|mil|net|org|biz|arpa|info|name|pro|aero|coop|museum|[a-zA-Z]{2}))(:[0-9]+)*(\/($|[a-zA-Z0-9.,?'\\+&%$#=~_-]+))*$/;
        return urlregex.test(textval);
    }

</script>
{% endblock %}
